<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<title>Error Occured</title>
<style>
.contentarea{
    text-align: center;
}
    </style>

</head>
<body>
<div class="contentarea">
<h1>Error Occured: There is no readable text in the image</h1>
<br>
<h2>Please go to previous page and capture again</h2>
<form action="/" method="get",  enctype="multipart/form-data">
        
        <input type="submit" value="Go back">
</form>
</div>
</body>
</html>